* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
  	background: #F8F8FF;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

.titleInfo {
  text-align: center;
  padding-bottom: 30px;

}

h1 { color: #111; 
     font-family: "Roboto", "Helvetica Neue, Helvetica, Arial", sans-serif;
     font-size: 64px; 
     width: 50%;
     font-weight: 700; 
     line-height: 64px; 
     margin: 0 0 0; 
     padding: 20px 30px; 
     text-align: center; 
     text-transform: uppercase; 
     display:inline-block;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: #F8F8FF;
	border-radius: 0px 0px 10px 10px;
}

form, .contentAdmin {
	width: 30%;
	text-align: center;
	margin: 0px auto;
	padding: 20px;
	background: #F8F8FF;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.titleInfo {
  width: 100%%;
  float: center;
}
.hr-sect {
  display: inline-flex;
  
  font-family: "Roboto", "Helvetica Neue, Helvetica, Arial", sans-serif;;
  width: 50%;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}
